/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


@media (min-width: 1380px) {
    .container {
        max-width: 1310px;
    }
}

@media (max-width: 1380px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

}

@media (max-width: 480px) {

}
